<div>
    <p-table [columns]="cols" [value]="posicoes" [paginator]="true" [rows]="10" #dt >
        <ng-template pTemplate="header" let-columns>
            <tr>
                <th *ngFor="let col of columns">
                    {{col.header}}
                </th>
                <th style="width:4em"></th>
            </tr>
            <tr>
                <th *ngFor="let col of columns" [ngSwitch]="col.field">
                    <input *ngSwitchCase="'placa'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode='contains')">
                    <input *ngSwitchCase="'dataFormatada'" pInputText type="text" (input)="dt.filter($event.target.value, col.field, col.filterMatchMode='contains')">
                </th>
                <th style="width:4em"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-posicoes let-columns="columns">
           <tr [pSelectableRow]="posicoes">
                <td *ngFor="let col of columns">
                    {{posicoes[col.field]}}
                </td>
                <td>
                    <button pButton icon="pi pi-map-marker" class="ui-button-raised ui-button-warning" (click)="onClickMap(posicoes)"></button>
                </td>
            </tr>
        </ng-template>
    </p-table>
    <p-dialog header="Posição" [(visible)]="display">
            <p>O veículo {{placaSelecionado}} estava no dia {{dataposicaoSelecionado}} às {{hora}} a {{velocidadeSelecionado}} km/h na
                posição {{posicaoSelecionado}} com ignição {{ignicaoSelecionado}}.
            </p>
            <agm-map [latitude]="lat" [longitude]="lng">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
    </p-dialog>
</div>

